* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.back {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	height: 1vh;
}

.box {
	background-color: #0000009c;
	width: 70%;
	border-radius: 40px;
	padding: 30px 30px 0px 30px;
	margin: auto;
	margin-top: auto;
	margin-top: 30px;
	text-align: center;
}

header {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: white;
}

main {
	text-align: justify;
	padding-top: 30px;
	margin: auto;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.6em;
}

.videotag {
	padding-top: 30px;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}

.icones {
	color: white;
	font-size: 25px;
	padding: 20px;
	text-align: center;
}
